@charset "utf-8";
/*
 * Malibu
 * zx 2014 04 21
 */

/* Reset
================================================================================================= */
html{background: #fff;}
body{font-family:"Microsoft Yahei",simsun,arial,sans-serif;color:#542a08;font-size:12px;line-height:1.666em;background: url('../img/hdbg.jpg') no-repeat top center;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img,div{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}

/* Commonly Used
================================================================================================= */
a{text-decoration:none;color:#00aba4;outline: none;}
a:hover{color:#018b85}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
.fl{float: left}
.fr{float: right;}
.column{width:1000px;margin:0 auto;position: relative;}

/* bg Used
================================================================================================= */
body{height: 100%;width: 100%}
.bgtl{background: url('../img/bgtl.png') no-repeat;width: 79px;height: 159px;position:fixed;left:0;top:0;_position:absolute;}
.bgbr{background: url('../img/bgbr.png') no-repeat;width: 128px;height:190px;position: fixed;bottom:0;right:0;_position:absolute;}
.bottomlogo{position: fixed;background: url('../img/bottomlogo.png') no-repeat;width: 66px;height: 54px;left:10px;bottom:10px;_position:absolute;}

/* page Used
================================================================================================= */
.page{width:100%;margin:0 auto;position: relative;}
.phd{position: relative;width:760px;margin: 0 auto}
	.nav{background: url('../img/navbg.png') no-repeat;margin: 0 auto;width:440px;height:97px;padding:0 0 0 110px;}
	.nav a{width:130px;height: 25px;text-align: center;color:#a69d9b;font-size: 13px;float:left;margin:20px 0 0;}
	/*.nav a.on{background: url('../img/navon.png') no-repeat;color:#fff}*/
	.nav1,.nav2,.nav3{background: url('../img/nav.png') no-repeat;width: 130px;height: 25px;overflow: hidden;line-height: 400em}
	.nav2{background-position: 0 -25px;}
	.nav3{background-position: 0 -50px;}
	.nav1.on{background-position: -130px -0px;}
	.nav2.on{background-position: -130px -25px;}
	.nav3.on{background-position: -130px -50px;}
	.tmalllink{background: url('../img/tmalllink.png') no-repeat;width: 78px;height: 27px;position: absolute;right:24px;top: 28px;}
	.tmalllink:hover{opacity: 0.8}
.pbd{padding:0 0 20px}

/* sec_propage Used
================================================================================================= */
.sec_propage{width: 480px;margin: 0 auto;padding:40px 0 0}
	.pt_pro{float:left;text-align: center}
	.pt_pro1{width: 242px;}
	.pt_pro2{width: 175px;float: right;}
	.propho_rtd{background: url('../img/propho_rtd.png') no-repeat bottom;width: 162px;height: 295px;margin: 5px auto;}
	.propho_original{background: url('../img/propho_original.png') no-repeat bottom;width: 82px;height: 295px;margin: 5px auto}
	.pt_propho{height: 295px;}
	.pt_pro1 .pt_propho{padding-top:45px;height: 250px}
	.protit{font-size: 15px;color:#e64415;text-align: center}
		.protit span{position: relative;top:-6px;}
	.pro_viewlink{color:#00aba4;display:block;text-align: center;padding:10px;}

/* sec_pro Used
================================================================================================= */
.sec_pro{width: 520px;margin: 0 auto;}
		.sec_pro .propho_rtd{height: 250px}
		.sec_pro .protit{font-size: 19px;text-align: left;}
			.sec_pro .protit span{font-size: 12px;top:-10px}
		.sec_pro{line-height: 20px;padding:16px 0 0}
		.secpro_txt{line-height: 20px;padding:15px 0 0;}
	.secRTD_pho{float:left;width: 162px;}
	.secRTD_info{float: right;width:300px;color:#542a08;padding:15px 0 0}
	.secRUM_pho{float:left;width: 82px;}
	.secRUM_info{float: right;width:430px;color:#542a08;padding:8px 0 0}
	.secDrink_pho{width: 130px;float: left;padding:0 0 30px;}
	.secDrink_info{float: right;width: 390px;padding:0 0 30px;}
.crumbs{text-align: right;width: 520px;margin: 0 auto;height: 40px;line-height: 24px;}
	.crumbs a{color:#00aba4}
		.crumbs_drink{background: url('../img/crumbs_drink.png') no-repeat right;height: 25px;}
			.crumbs_drink a{color:#fff;padding:0 2px;}
			.drinkicon{border:transparent 4px solid;display: inline-block;height: 0;width:0;vertical-align: middle;overflow: hidden}
			.drinkicon1{border-right:#fff solid 4px;margin: 0 4px 0 0;margin: 0 1px 0 0/9}
			.drinkicon2{border-left:#fff solid 4px;margin: 0 0 0 4px}
			.crumbs_drink a:hover{color:#a12e0d;}
			.crumbs_drink a:hover .drinkicon1{border-right:#a12e0d solid 4px;}
			.crumbs_drink a:hover .drinkicon2{border-left:#a12e0d solid 4px;}

/* sec_prolist Used
================================================================================================= */
.sec_prolist{margin: 20px auto;position: relative;width: 330px;}
	.scrollpic{}
	.sec_prolist_item{float:left;text-align: center;margin: 0;display:inline;width:110px;overflow: hidden;}
		.sec_prolist_item p{color:#e64415;}
		.sec_prolist_item a{color:#00aba4;}
	.scrollbtn{width: 20px;height: 20px;position: absolute;top:60px;cursor: pointer}
	.prev{background: url('../img/prev.png') no-repeat;left:-30px}
	.next{background: url('../img/next.png') no-repeat;right:-30px}
.jcarousel-clip{width: 330px;height: 190px;overflow: hidden}
.jcarousel-prev{background: url('../img/prev.png') no-repeat;left:-30px;width: 20px;height: 20px;position: absolute;top:60px;cursor: pointer}
.jcarousel-next{background: url('../img/next.png') no-repeat;right:-30px;width: 20px;height: 20px;position: absolute;top:60px;cursor: pointer}
.share{padding:10px 0;}
	.share a{float: right;}

/* sec_home Used
================================================================================================= */
.sec_home{width:630px;margin: 0 auto;}
	.sechome_pho{float:right;padding:60px 0 0;}
	.sechome_info{float: left;width: 330px;padding:30px 0 0 60px;}
	.sechome_info .protit{font-size: 19px;text-align: left;}


.shade{background: #999;opacity: 0.6;filter:alpha(opacity=60); position: fixed;left:0;right: 0;top: 0;bottom: 0;z-index: 15;_position:absolute;width: 100%;height: 100%}
.pop{background:#fff;position: fixed;left:50%;top:50%;z-index:20;font-size: 14px;color:#666;width: 300px;height: 306px;margin: -150px 0 0 -150px;_position:absolute;}
	.pop h1{color:#e64415;font-size: 25px;text-align: center;line-height: 50px;padding:40px 0 0;}
        .age-error h1{padding-top:100px;}
        .age-error .return{margin-right:123px;}
        .popcon{width:225px;font-size: 12px;-webkit-text-size-adjust:none;margin: 20px auto 0;line-height: 24px}
        .ageform{padding:0 0 5px;}
			.ipt{border:#eee solid 1px;height: 33px;width: 60px;color:#e64415;font-size: 21px;text-align: center;float:left;margin-right: 5px;
				box-shadow:1px 1px 2px #aaa inset;-webkit-box-shadow:1px 1px 2px #aaa inset;-moz-box-shadow:1px 1px 2px #aaa inset;-ms-box-shadow:1px 1px 2px #aaa inset;
				border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;}
			.ipt1{width: 75px}
		.poptips{color:#322;float: left;}
		.popcheck{float: right;vertical-align: middle;}
			.popcheck input{float: left;margin: 5px 2px 0 0}
		.popbtn{background: url('../img/popbtn.png') no-repeat;float: right;width: 60px;height: 25px;color:#fff;line-height: 25px;text-align: center;margin:20px 0 0}





/* sec_media Used
================================================================================================= */
.sec_media{width: 520px;margin: 0 auto}
	.media_main{float: left;padding:0 20px;}
		.media_maintit{background: url('../img/media_maintit.png') no-repeat;width: 146px;height: 28px;}
		.mod_madia{color:#542a08;width: 270px;word-break:break-all;word-wrap:break-word;border-bottom: #eee solid 1px;padding:20px 0 10px}
			.mod_madia h2{color:#e64415;font-size: 15px;}
			.mod_madia h3{font-weight: normal;padding:5px 0}
			.madia_read{padding: 5px 0}
				.madia_read a{padding: 0 10px 0 0;}
	.media_side{float: right;width: 146px;}
		.media_sidetit{background: url('../img/media_sidetit.png') no-repeat;width: 146px;height: 28px;}
		.mod_wallpaper{text-align: center;padding: 20px 0 0;line-height: 24px}


.madia_page{text-align: center;font-family:arial,sans-serif;padding:20px 0}
.madia_page li{float: left;}
	.madia_page a{color:#e9572d;padding:0 8px;}
	.madia_page .madia_prev,
	.madia_page .madia_next{color:#fff;font-family: simsun;background: #00aca5;padding:3px 0px 2px;
		border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;}
	.madia_page .madia_prev a,
	.madia_page .madia_next a{color:#fff}

	.madiapho_slide{width: 270px;height: 150px;margin: 0 0 8px;position: relative;}
		.madia_arr{background: url('../img/arrows.png') no-repeat;width: 30px;height: 43px;position: absolute;top:60px;cursor: pointer;display:none}
		.madia_prev{left:0}
		.madia_next{background-position:-30px 0;right:0}
		.madiapho_list img{width: 270px;height: 150px}
		.madiapho_slide li{display: none}
		.madiapho_slide li.on{display: block;}



.waiting{background: url('../img/waiting.jpg') no-repeat;width:400px;height: 330px;margin:30px auto 0 }






/* activity Used
================================================================================================= */
.act_hd{background: url('../img/act_hd.jpg') no-repeat center 55px;width: 580px;height:268px;margin: 0 auto;padding: 0 0 0 85px;}
	.act_hditem{float: left;width: 168px;}
		.act_hdtit{background: url('../img/act_hdicon.png') no-repeat;height: 35px;width: 168px;font-size: 15px;color:#afabab;font-weight: bold;text-align: center;padding-top:120px;}
		.act_hdicon2{background-position: -164px 0;padding-top:110px;height: 45px }
		.act_hdicon3{background-position: -330px 0}
		.act_hdbox{background: url('../img/act_hdbox.png') no-repeat;width: 162px;height: 88px;color:#542a08;text-align: center;padding: 25px 0 0;line-height: 14px;}
			.act_hdbox a{color:#00aba4;padding:6px 0;display: block;}
.act_award{width: 480px;margin: 0 auto 50px}
	.act_awardtit{background: url('../img/act_awardtit.png') no-repeat;width: 130px;height: 45px;}
	.act_wordtit{background: url('../img/act_linebg.png') no-repeat center bottom;color:#e64415;font-size: 20px;text-align: center;font-weight: bold;padding:15px 0;margin-bottom: 12px}
	.act_videolist{width: 500px}
		.act_videoitem{float: left;margin-right: 20px;}
			.act_video{height: 150px;width: 146px;margin-bottom: 5px;}
			.act_videoinfo{}
				.act_infotiem{color:#e64415}
				.act_infouser{font-size: 13px;}
	.act_tips{font-weight: bold;text-align: center;padding: 20px 0;font-size: 14px;}
.act_con{width: 480px;margin: 0 auto 60px}
	.act_contit{background: url('../img/act_contit.png') no-repeat;width: 214px;height: 45px;}
	.act_contxt{padding: 0 35px 10px;font-weight: bold;font-size: 13px;line-height: 15px;}
		.act_contxt p{padding:8px 0}
	.act_concarlist{position: relative;width: 490px;height: 250px;}
		.act_videocar{overflow: hidden;width: 490px;height: 250px}
			.act_concarlist .jcarousel-clip{width: 490px;height: 250px}
				.act_convote a{color:#542a08}
				.act_convote em{color:#e64415}
			.act_votestatbg{background: url('../img/act_votestat.png') repeat-x; width: 60px;height: 12px;overflow: hidden}
				.act_votestat{background: url('../img/act_votestat2.png') repeat-x;height: 12px;float: left;}
.act_malivand{margin: 0 auto 80px}
	.act_maltit{font-size: 22px;font-weight: bold;color:#e64415;line-height: 35px;height: 45px;width: 480px;margin: 0 auto}
	.act_malvideo{width: 480px;margin: 10px auto}
	.act_maltxt{width: 430px;margin:10px auto 30px;font-weight: bold;font-size: 13px;line-height: 15px;}
	/**/
	.act_malintro{width: 556px;margin: -40px auto 0;}
		.act_malitem{font-weight: bold;width: 160px;text-align: center;float: left;padding:130px 12px 0;background: url('../img/act_malintro.png') no-repeat;}
		.act_malitem1{background-position: 70px 0}
		.act_malitem2{background-position: -106px 0}
		.act_malitem3{background-position: -292px 0}
			.act_malitem h2{font-size: 14px;color:#e64415;}
			.act_malitem h3{font-size: 14px;padding: 0 0 22px;}
